@font-face {
    font-family: "caviar_dreams";
    src: url(../../../assets/font/caviar_dreams/CaviarDreams.ttf) format("opentype");
}

* {
    font-family: "caviar_dreams", 'arial', sans-serif;
}

.logoBricool {
    padding-right: 30em;
}

nav {
    margin: 30px;
}

li {
    list-style-type: none;
    display: inline;
    margin: 20px;
}

ul {
    padding-left: 10% ;
    display: inline;
}

li:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #7BC248;
}

.imgNav {
    margin: 30px;
}

.newProjet {
    border-radius: 15px;
    background-color: #7BC248;
    color: white;
    padding: 10px;
}

@media all and (max-width: 1000px) {
    ul {
        padding-left: 15% ;
        display: inline;

    }
}
