<header>
  <nav class="contain">
    <a routerLink="">
      <img class="logoBricool" src="../../assets/images/Bricool.png" alt="Logo Bricool">
    </a>
    <div class="flex">
      <div class="boutonsClient" >
        <a *ngIf="compteClientConnecte" routerLink="mncpt/projets">MES PROJETS</a>
        <a *ngIf="compteEntrepriseConnecte" routerLink="mncpt/devis">MES DEVIS</a>
        <a *ngIf="!compteClientConnecte && !compteEntrepriseConnecte" class="bouton" routerLink="auth/signup">S'INSCRIRE</a>
        <a routerLink="newprjct" class="bouton">NOUVEAU PROJET</a>
      </div>
      <a routerLink="auth/signin">
        <img class="imgNav" src="../../assets/images/profil.png" alt="Profil">
      </a>
      <a routerLink="mncpt/notifs">
        <img src="../../assets/images/mail.png" alt="Notifications">
      </a>
    </div>
  </nav>
</header>
