<header>
  <nav class="contain">
    <a routerLink="">
      <img class="logoBricool" src="../../assets/images/Bricool.png" alt="Logo Bricool">
    </a>
    <div class="flex">
      <div class="boutonsClient" *ngIf="compteClient">
        <a routerLink="mncpt/projets">MES PROJETS</a>
        <a routerLink="newprjct" class="newProjet">NOUVEAU PROJET</a>
      </div>
      <a routerLink="mncpt/infos">
        <img class="imgNav" src="../../assets/images/profil.png" alt="Profil">
      </a>
      <a routerLink="mncpt/notifs">
        <img src="../../assets/images/mail.png" alt="Notifications">
      </a>
    </div>
  </nav>
</header>
