.navCompte {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-right: 20px;
}

.containerCompte {
  display: flex;
}

.boutonCompte {
  border : none;
  background-color: #7bc248;
  color: white;
  padding: 10px;
}
.boutonCompte:hover {
  background-color: #DBBD45;
  transition: 0.2s;;

}

a {
  text-decoration: none;
  color: #7BC248;
}
