.navCompte {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-right: 20px;
}

.containerCompte {
  display: flex;
}

.boutonCompte {
  border-radius: 15px;
  background-color: #7bc248;
  color: white;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #7BC248;
}
