  <div class="containerCompte">
    <div class="navCompte">
      <button type="button" routerLink="infos" >Informations</button>
      <button type="button" routerLink="prestas" *ngIf="compteEntreprise">Prestations proposées</button>
      <button type="button" routerLink="devis">Devis</button>
      <button type="button" routerLink="projets" *ngIf="compteClient">Projets</button>
      <button type="button" routerLink="notifs">Notifications</button>
    </div>
    <router-outlet></router-outlet>
  </div>
