button {
    border: none !important;
    font-weight: 700 !important;
    width:33% !important;
    margin:25px auto;
    background-color: #7BC248 !important;
    padding : 5 20px;
    border-radius:5px;;
    color : white;
    text-transform: uppercase;
    text-align: center;
  }

  button:hover{
    background-color : #DBBD45;
    transition : 0.5s;
  }