<div class="mesDevis">
  <h3>Mes devis </h3>
  <section *ngIf="listeDevis" class="mesDevisEnCours">
    <h4>Mes demande de devis</h4>
    <div class="myDevis" *ngFor="let devisDemande of listeDevis">
      <div>
        <!-- <p>{{devisDemande.prestation.description}}</p> -->
        <p>Description : {{devisDemande.projet.description}} </p>
        <p>Type de Bien : {{devisDemande.projet.typeBien}} </p>
        <p>Surface M2 : {{devisDemande.projet.surfacem2}} </p>
        <p>Début des travaux : {{devisDemande.projet.dateDebut | date:'dd MMM YYYY' }} </p>
        <p class="status">Statut : {{devisDemande.etat}}</p>
      </div>
      <div>
        <p>Prix Matériel: {{devisDemande.prixPrestation}} €</p>
        <p>Prix matériel : {{devisDemande.prixMateriel}} € </p>
        <p>Durée de la prestation : {{devisDemande.tempsPrestationJours }} jours </p>
      </div>
      <div class="boutonDevis">
        <button class="btn btn-primary bouton" (click)="selectionDevis(devisDemande)" [disabled]="estDevisDemande(devisDemande)">Modification du
          devis <i class="fas fa-chevron-down"></i></button>
        <button class="btn btn-primary bouton" [disabled]="!devisDemande.prixPrestation" (click)="envoyerDevis(devisDemande)" [disabled]="estDevisDemande(devisDemande)">Envoyer le
          devis</button>
      </div>
    </div>
  </section>
  <app-devis-form [formulaireIsVisible]="formulaireIsVisible" [devisEncours]="devisEnCours" (miseAjourDevis)="miseAjourDevis($event)"></app-devis-form>
</div>
