<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UltraMotionCorp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
  <form action="/projets" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="type" name="type">
    <button type="submit">Créer</button>
  </form>

<!--
<ul class="projets"> -->
  <!-- On boucle sur les projets -->
  <!-- <% for(var i = 0; i < projets.length; i++) {%>
    <li class="projet"> -->
      <!-- Output name from the iterated quote object -->
      <!-- <span class="NomProjet"><%= projets[i].name %></span>:
       Output quote from the iterated quote object -->
      <!--<span class="TypeProjet"><%= projets[i].type %></span>
    </li>
  <% } %> -->
</body>
</html>
