.container {

    background-color: whitesmoke;
    margin-top: 2%;
    margin-bottom: 2%;
}

.list-group a {
    display: flex;
    margin-left: 30px;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
}

.list-group {

    display: flex;
    flex-direction: row;
}

.container h1 {

    text-align: center;
    padding-bottom: 3%;

}

.container h5 {

    font-weight: bold;
    padding-top: 3%

}

.container h6 {

    padding-top: 2%;
}

.formulaire {

    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
}

span {

    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.btn {
    margin-top: 2%;
}

label {

    margin-top: 1%;
}