<div class="container">
    <h1>Créer mon compte</h1>

    <h5>Mes informations personnelles</h5>

        <form class="formulaire">
            <label>Nom* :     
            </label>
            <input type="text">
            <label>Prenom* :    
            </label>
            <input type="text">
            <label>Email*  :               
            </label>
            <input type="text">
            <label>Numéro de téléphone* : 
            </label>
            <input type="text">
            <label> Mot de passe*: 
            </label>
            <input type="text">

            <h6>Adresse :</h6>
            <div class="formulaire">
                <label>Numéro :
                </label>
                <input type="text">
        
                <label>Rue :
                </label>
                <input type="text">
    
                <label>Ville :
                </label>
                <input type="text">
        
                <label>Code Postal :
                </label>
                <input type="text">

            </div>
        <button>CRÉER MON COMPTE</button>

        </form>
    
</div>