<div class="container ">
  <div *ngIf="newProject">
    <h1>Pour enregistrer votre nouveau projet</h1>
  </div>
  <h1>Créez votre compte </h1>
  <div>
    <div class="row justify-content-md-center">
      <div class="col-2 " *ngIf="!newProject">
        <h2>Vous êtes : </h2>
      </div>

      <div class="col-4" *ngIf="!newProject">
        <div class="list-group" type="checkbox" id="toggle">
          <a class="bouton" (click)="clientDisplay()" [class.disabled]="isClientDisplay">CLIENT</a>
          <a class="bouton" (click)="entrepriseDisplay()" [class.disabled]="isEntrepriseDisplay">ENTREPRISE</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div *ngIf="isClientDisplay || newProject">
        <form [formGroup]="clientForm" class="form-signup text-center" (ngSubmit)="inscrireClient()">
          <h5 class="h5 mb-3">Mes informations personnelles</h5>
          <div class="d-flex justify-content-center h-100">
            <div class="user_card justify-content-md-center">
              <div class="col">
                <label>Nom* :
                </label>
                <input type="text" id="name" formControlName="nom" placeholder="Nom" size="30" class="form-control"
                  required>
                <div *ngIf="nomClient.invalid && (nomClient.dirty || nomClient.touched)" class="alert">
                  <div class="form-text small" *ngIf="nomClient.errors?.required">
                    Nom obligatoire
                  </div>
                </div>
                <label>Prenom* :
                </label>
                <input type="text" formControlName="prenom" placeholder="Prénom" size="10" class="form-control"
                  required>
                <div *ngIf="prenomClient.invalid && (prenomClient.dirty || prenomClient.touched)" class="alert">
                  <div class="form-text small" *ngIf="prenomClient.errors?.required">
                    Prénom obligatoire
                  </div>
                </div>
                <label>Email* :
                </label>
                <input type="email" formControlName="email" placeholder="Adresse email" pattern=".+@globex\.com"
                  size="30" class="form-control" required placeholder="Email">
                <div *ngIf="emailClient.invalid && (emailClient.dirty || emailClient.touched)" class="alert">
                  <div class="form-text small" *ngIf="emailClient.errors?.required">
                    Email obligatoire
                  </div>
                </div>
                <label>Numéro de téléphone* :
                </label>
                <input type="text" formControlName="numeroTelephone" placeholder="Numéro de téléphone"
                  class="form-control">
                <div
                  *ngIf="numeroTelephoneClient.invalid && (numeroTelephoneClient.dirty || numeroTelephoneClient.touched)"
                  class="alert">
                  <div class="form-text small" *ngIf="numeroTelephoneClient.errors?.required">
                    Numéro de téléphone obligatoire
                  </div>
                </div>
                <label> Mot de passe*:
                </label>
                <input type="password" formControlName="motDePasse" class="form-control">
                <div *ngIf="motDePasseClient.invalid && (motDePasseClient.dirty || motDePasseClient.touched)"
                  class="alert">
                  <div class="form-text small" *ngIf="motDePasseClient.errors?.required">
                    Mot de passe obligatoire
                  </div>
                </div>
                <label>Adresse* :
                </label>
                <input type="text" formControlName="adresse" placeholder="Adresse" class="form-control">
                <div *ngIf="adresseClient.invalid && (adresseClient.dirty || adresseClient.touched)" class="alert">
                  <div class="form-text small" *ngIf="adresseClient.errors?.required">
                    Adresse obligatoire
                  </div>
                </div>
                <button class="btn btn-success" size="">S'INSCRIRE</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="isEntrepriseDisplay">
        <h5>Mes informations personnelles</h5>

        <form [formGroup]="entrepriseForm" (ngSubmit)="inscrireEntreprise()" class="formulaire">
          <label>Nom* :
          </label>
          <input type="text" formControlName="nom">
          <label>Description* :
          </label>
          <input type="text" formControlName="description">
          <label>LogoUrl* :
          </label>
          <input type="text" formControlName="logoUri">
          <label>Email* :
          </label>
          <input type="email" formControlName="email" pattern=".+@globex\.com" size="30" required>
          <label>Numéro de téléphone* :
          </label>
          <input type="tel" formControlName="numeroTelephone">
          <label> Mot de passe*:
          </label>
          <input type="password" formControlName="motDePasse">
          <label>Adresse* :
          </label>
          <input type="text" formControlName="adresse">
          <button class="btn btn-success">CRÉER MON COMPTE</button>
        </form>
      </div>

      <span>Vous possédez déjà un compte ? <a routerLink="/auth/signin"> Identifiez-vous</a> </span>

    </div>
  </div>
</div>
