h1 {
  width : 100%;
  font-weight:700;
}
.everywhereInfo{
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color:white;
  padding : 5px;
  border-radius:15px;
  text-align: center;
  display: inline-block;
  width:33%;
  margin-right:10px;
}
.supress {
  background-color: red;
}
.modify {
  background-color: #7BC248;
}
label, .containerInfos div, a {
  margin-top : 10px;
}
span {
  font-weight: 700;
}
