<div class="mesDevis">
<h3>Mes devis </h3>
  <section class="mesDevisEnCours">
    <h4>Mes devis en cours</h4>
      <div class="myDevis">
          <p>Titre de ma prestation</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
          <p class="status">Status</p>
          <a href="#"><i class="fas fa-chevron-right"></i></a>
        </div>
  </section>
  <section class="mesAnciensDevis">
    <h4>Mes devis archivés</h4>
    <div class="myDevis">
      <p>Titre de ma prestation</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
      <a href="#"><i class="fas fa-chevron-right"></i></a>
    </div></section>
</div>
