<h2>Type de prestation </h2>
<div class="presentationPrestation">
  <h3>Nom de la prestation</h3>
  <p class="description"></p>
  <ul>
    <li>Un item</li>
    <li>Un item</li>
    <li>Un item</li>
    <li>Un item</li>
  </ul>
</div>
<div class="prixPrestation">
  <p class="tauxHoraire">Taux horaire</p>
  <input type="text" placeholder="Rentrez le nombre d'heure de travail voulues">
  <p class="PrixTotalTva">Prix total avec TVA</p>
</div>

<button>Obtenir un devis</button>

<div class="Entreprise">
  <h3>Un mot sur l'entreprise</h3>
  <img src="#" alt="logo d'une entreprise">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint maiores quod eveniet repudiandae exercitationem? Voluptates reiciendis atque itaque qui, voluptate obcaecati totam iste, eos temporibus praesentium iusto, voluptas iure adipisci.</p>
</div>
