@font-face {
    font-family: "caviar_dreams";
    src: url(../../assets/font/caviar_dreams/CaviarDreams.ttf) format("opentype");
}

* {
    font-family: "caviar_dreams", 'arial', sans-serif;
}

.imgBricool01 {
    height: 650px;
    width: 1495px;
    /* min-width: 100%;
    min-height: 100%;
    height: 700px; */
}

.container {
    display: inline-block;
    position: relative;
}

.text {
    background: rgba(123, 194, 72, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: "caviar_dreams";
    margin: auto;
    /* left: 0; */
    right: 0;
    top: 30%;
    color: white;
    width: 80%;
}

.boxBricool {
    margin: 5%;
    padding-left: 3%;
}

h1 {
    color: #7BC248
}

h6 {
    font-weight: bold;
    padding-bottom: 3%;
}

.containerArtisans {
    padding-bottom: 5%;
}

.artisansBox {
    width: 400px;
    display: inline-block;
    background-color: white;
    padding-left: 8%;
    overflow: hidden;
}

.avisClientFond {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 13%;
    background-color: #7BC248;
}

.picture {
    text-align: center;
    padding-bottom: 2%;
}

.avisClient h6 {
    text-align: center;
}

.artisansBox span {
    display: block;
    padding-bottom: 5%;
}

.avisClientFond h2 {
    padding-bottom: 3%;
    color: white;
    font-weight: bold;
}

.avisClient {
    width: 250px;
    margin: 20px;
    display: inline-block;
    background-color: white;
    padding-bottom: 15px;
    border: 0px black solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.avisClient span {
    display: block;
    padding: 8%;
}

.bouton {
    display: flex;
    justify-content: center;
}

.artisanBouton {
    background-color: #DBBD45;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.containerStat {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
}

.statBricool {
    width: 300px;
    margin: 40px;
    display: inline-block;
    padding-left: 5%;
    padding-bottom: 15px;
    border: 0px black solid;
    overflow: hidden;
    color: #7BC248;
    font-size: 30px;
}

.statBricool span {
    padding: 8%;
}

.statBricool h3 {
    padding: 8%;
    font-size: 40px;
    font-weight: bold;
}

.containerBouton {
    display: flex;
    justify-content: center;
    padding-bottom: 6%;
}

.lancerProjet {
    background-color: #DBBD45;
    border-radius: 80px;
    color: white;
    font-weight: bold;
    padding: 2%;
    font-size: 34px;
}

.boutonProjet {
    border: none;
    background-color: #DBBD45;
    color: white;
    font-weight: bold;
}

@media all and (max-width: 1000px) {}