<header>
  <div>
    <nav>
      <img class="logoBricool" src="../../assets/images/Bricool.png" alt="Logo Bricool">
      <ul>
        <li><a href="">MES PROJETS</a></li>
        <li><a class="newProjet" href="">NOUVEAU PROJET</a></li>
      </ul>
      <img class="imgNav" src="../../assets/images/profil.png" alt="Profil">
      <img src="../../assets/images/mail.png" alt="Mail">
    </nav>
  </div>
</header>

<body>


  <div class="container">
    <img class="imgBricool01" src="../../assets/images/bricolage01.jpg" alt="Bricool Photo">
    <div class="text">
      <h2>TROUVEZ LE PRO QU'IL VOUS FAUT</h2>
      <h2>ET RÉALISEZ VOS PROJETS !</h2>
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="type" name="type" [(ngModel)]="texteRecherchePro">
      <button (click)="onTrouverPro()">Trouver un pro !</button>

      <div *ngFor="let pro of listePro">
        <div>
          Nom pro : {{pro.Prestations[0].type}}
        </div>
        <div>
          Description pro : {{pro.Prestations[0].description}}
        </div>
      </div>
    </div>
  </div>

  <div class="containerArtisans">

    <div class="boxBricool">
      <h1>Les artisans à votre écoute !</h1>
    </div>


    <div class="artisansBox">

      <h6>1. CRÉEZ UN NOUVEAU PROJET</h6>

      <span>Aenean volutpat ultrices ligula. In
        tincidunt. Aenean viverra suscipit tellus.
      </span>

      <span>Suspendisse sem lorem, ornare non,
        vestibulum ut, tempor porttitor, est.
        Quisque convallis aliquet eros. Nunc nec
        nulla eget urna convallis eleifend. Nulla
        feugiat eros at augue. Integer feugiat nisi
        vitae velit. Cras cursus ipsum vel dolor.
        Sed pulvinar. Etiam velit orci, pellentesque
        at, porttitor blandit, luctus eu, justo.
        Donec in odio sed nisl venenatis feugiat.
        Phasellus sodales, pede dapibus rhoncus
        dignissim, justo turpis ornare felis, in
        imperdiet pede metus quis tellus. Proin</span>

    </div>

    <div class="artisansBox">

      <h6>2. CHOISISSEZ VOS ARTISANS</h6>

      <span>Aenean volutpat ultrices ligula. In
        tincidunt. Aenean viverra suscipit tellus.
      </span>

      <span>Suspendisse sem lorem, ornare non,
        vestibulum ut, tempor porttitor, est.
        Quisque convallis aliquet eros. Nunc nec
        nulla eget urna convallis eleifend. Nulla
        feugiat eros at augue. Integer feugiat nisi
        vitae velit. Cras cursus ipsum vel dolor.
        Sed pulvinar. Etiam velit orci, pellentesque
        at, porttitor blandit, luctus eu, justo.
        Donec in odio sed nisl venenatis feugiat.
        Phasellus sodales, pede dapibus rhoncus
        dignissim, justo turpis ornare felis, in
        imperdiet pede metus quis tellus. Proin</span>

    </div>

    <div class="artisansBox">

      <h6>3. PROFITEZ DE LA VIE</h6>

      <span>Aenean volutpat ultrices ligula. In
        tincidunt. Aenean viverra suscipit tellus.
      </span>

      <span>Suspendisse sem lorem, ornare non,
        vestibulum ut, tempor porttitor, est.
        Quisque convallis aliquet eros. Nunc nec
        nulla eget urna convallis eleifend. Nulla
        feugiat eros at augue. Integer feugiat nisi
        vitae velit. Cras cursus ipsum vel dolor.
        Sed pulvinar. Etiam velit orci, pellentesque
        at, porttitor blandit, luctus eu, justo.
        Donec in odio sed nisl venenatis feugiat.
        Phasellus sodales, pede dapibus rhoncus
        dignissim, justo turpis ornare felis, in
        imperdiet pede metus quis tellus. Proin</span>


    </div>

  </div>

  <div class="avisClientFond">

    <h2>C'est vous qui en parlez le mieux</h2>

    <div class="avisClient">

      <div class="picture">
        <img src="../../assets/images/photoProfil.png" alt="Photo Profil">
      </div>
      <h6>Ma nouvelle salle de bain
      </h6>
      <span>Duis vulputate cursus orci. Mauris
        justo lorem, scelerisque sit amet,
        placerat sed, condimentum in, leo.
        Donec urna est, semper quis,
        auctor eget, ultrices in, purus.</span>
      <div class="bouton">
        <button class="artisanBouton">contacter cet artisan
        </button>

      </div>

    </div>

    <div class="avisClient">

      <div class="picture">
        <img src="../../assets/images/photoProfil.png" alt="Photo Profil">
      </div>
      <h6>Ma nouvelle salle de bain
      </h6>
      <span>Duis vulputate cursus orci. Mauris
        justo lorem, scelerisque sit amet,
        placerat sed, condimentum in, leo.
        Donec urna est, semper quis,
        auctor eget, ultrices in, purus.</span>
      <div class="bouton">
        <button class="artisanBouton">contacter cet artisan
        </button>

      </div>

    </div>

    <div class="avisClient">

      <div class="picture">
        <img src="../../assets/images/photoProfil.png" alt="Photo Profil">
      </div>
      <h6>Ma nouvelle salle de bain
      </h6>
      <span>Duis vulputate cursus orci. Mauris
        justo lorem, scelerisque sit amet,
        placerat sed, condimentum in, leo.
        Donec urna est, semper quis,
        auctor eget, ultrices in, purus.</span>
      <div class="bouton">
        <button class="artisanBouton">contacter cet artisan
        </button>

      </div>

    </div>

    <div class="avisClient">

      <div class="picture">
        <img src="../../assets/images/photoProfil.png" alt="Photo Profil">
      </div>
      <h6>Ma nouvelle salle de bain
      </h6>
      <span>Duis vulputate cursus orci. Mauris
        justo lorem, scelerisque sit amet,
        placerat sed, condimentum in, leo.
        Donec urna est, semper quis,
        auctor eget, ultrices in, purus.</span>
      <div class="bouton">
        <button class="artisanBouton">contacter cet artisan
        </button>

      </div>

    </div>

  </div>

  <div class="containerStat">
    <div class="statBricool">

      <h3>54 000</h3>

      <span>Artisans</span>

    </div>

    <div class="statBricool">

      <h3>147 458</h3>

      <span>Projets réalisés</span>

    </div>

    <div class="statBricool">

      <h3>57 000</h3>

      <span>Avis positifs</span>

    </div>
  </div>

  <div class="containerBouton">
    <div class="lancerProjet">

      <button class="boutonProjet">
        LANCEZ VOTRE PROJET !
      </button>

    </div>
  </div>

  <footer>

    <div class="containerFooter">
      <div class="separateur">
        <div class="footerBricool">


          <span>Besoin d'aide ?</span>

          <span>Qui sommes-nous ?</span>

          <span>Presse & Média</span>

          <span>Nous rejoindre</span>

          <span>Nos partenaires</span>

          <span>Charte Qualités</span>


        </div>

        <div class="footerBricool">


          <div class="footer2nd">
            <span>Condition Générale de Vente</span>

            <span>Politique de Confidentialité</span>

          </div>

        </div>

        <div class="rsBricool">

          <div class="footer3nd">
            <span>Professionnel ?</span>

            <div class="containerBouton">
              <button class="inscriptionBouton">Inscrivez vous !
              </button>
            </div>
          </div>

          <div class="resBricool">
            <div class="facebook"><img src="../../assets/images/facebook.png" alt="Facebook"></div>
            <div class="instagram"><img src="../../assets/images/insta.png" alt="Instagram"></div>
            <div class="twitter"><img src="../../assets/images/twitter.png" alt="Twitter"></div>
          </div>
        </div>
      </div>

      <div class="spanFin">
        <span>
          Vestibulum vel tellus. Sed vulputate. Morbi massa nunc, convallis a, commodo gravida, tincidunt sed, turpis.
          Aenean ornare viverra
          est. Maecenas lorem. Aenean euismod iaculis dui. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus
          mus. Nulla quam. Aenean fermentum, turpis sed volutpat dignissim, diam risus facilisis nibh, sit amet iaculis
          est turpis non tellus. Nunc a
          mauris. Proin eget ligula. Nam cursus libero.
        </span>
        <span>
          Vestibulum velit orci, bibendum eget, molestie eu, sagittis non, leo. Nullam sed enim. Duis ac lorem. Lorem
          ipsum dolor sit amet,
          consectetuer adipiscing elit. Suspendisse potenti. Sed tincidunt varius arcu. Mauris vitae arcu sit amet quam
          condimentum pulvinar.
          Aenean arcu elit, accumsan id, consequat ornare, lobortis vitae, ligula. Quisque vitae velit ac sapien
          placerat suscipit. Donec mollis
          justo sed justo pellentesque sollicitudin. Duis bibendum adipiscing nibh. Maecenas diam risus, molestie ut,
          porta et, malesuada eget,
          nisi. In fermentum leo sed turpis. Sed lacus velit, consequat in, ultricies sit amet, malesuada et, diam.
          Integer mauris sem, convallis ut,
          consequat in, sollicitudin sed, leo. Cras purus elit, hendrerit ut, egestas eget, sagittis at, nulla. Integer
          justo dui, faucibus dictum,
        </span>
      </div>
    </div>
  </footer>
  <div class="end">
    <span>Fait par la @wonderTeam</span>
  </div>



</body>
