h5 {

    font-weight: bold;
    margin-bottom: 7%;

}

.presta {

    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    padding: 5px 15px;
}

label {

    font-size: 18px;

}

input {

    margin-bottom: 5%;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #7BC248;
}

button {

    margin-bottom: 5%;
    margin-left: 15px;
    border-radius: 25px;
    padding-bottom: 5px;
}