h5 {

    font-weight: bold;
    margin-bottom: 7%;

}

.presta {

    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

label {

    font-size: 18px;

}

input {

    margin-bottom: 5%;
}

button {

    margin-bottom: 5%;
}