<ngb-accordion *ngFor="let company of filteredCompanies">
  <ngb-panel title="{{company.adresse.split(' ').pop()}} - {{company.nom}}">
    <ng-template ngbPanelContent>
      <div>{{company.description}}</div>
      <div>{{company.adresse}}</div>
      <div>{{company.email}}</div>
      <div>{{company.numeroTelephone}}</div>
      <ngb-accordion *ngFor="let prestation of company.prestations">
        <ngb-panel title="{{prestation.type}}: {{prestation.description}}">
          <ng-template ngbPanelContent>
            <p>Taux horaire: {{prestation.tauxHoraire}}€ {{prestation.TVA ? "HT" : "TTC"}}</p>
            <p *ngIf="prestation.TVA">TVA: {{prestation.TVA * 100}}%</p>
            <button type="button" routerLink="/newprjct" [state]="{data: {company: company, prestation: prestation}}" name="button">Choisir cette prestation</button>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
