/* @import url('~bootstrap/dist/css/bootstrap.min.css'); */
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "caviar_dreams";
  src: url(./assets/font/caviar_dreams/CaviarDreams.ttf) format("truetype");
}

@font-face {
  font-family: "caviar_dreams";
  src: url(./assets/font/caviar_dreams/CaviarDreams_Bold.ttf) format("truetype");
  font-weight: bold;
}

* {
  font-family: "caviar_dreams", 'arial', sans-serif;
}
