<h2>Mes projets :</h2>
<div class="container" *ngIf="clientConnecte?.projets.length > 0;else pasdeProjet">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"
  *ngFor="let projet of clientConnecte?.projets; let indexprojet = index">
        <ngb-panel title="Projet #{{indexprojet+1}}">
          <ng-template ngbPanelContent>
      <div>
        Description du projet : {{projet.description}}
      </div>
      <div>
        Type de bien : {{projet.typeBien}} {{projet.niveauBien}}
      </div>
      <div>
        Surface : {{projet.surfacem2}} m²
      </div>
      <div>
        Date de début {{projet.dateDebut | date:'dd MMM YYYY' }}
      </div>
      <h2>Les prestations du projet :</h2>
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"
        *ngFor="let prestation of projet.prestations; let indexPrestation = index">
        <ngb-panel title="Prestation {{prestation.description}}">
          <ng-template ngbPanelContent>
            <p>Type de prestation : {{prestation.type}}</p>
            <div *ngFor="let entreprise of projet.entreprises">
              <p>Entreprise préselectionné pour cette prestation : {{entreprise.nom}}</p>
              <app-devis [idProjet]="projet._id" [idPrestation]="prestation._id" [idEntreprise]="entreprise._id" (creerEvaluationAFaire)="creerEvaluationAFaire($event)"></app-devis>
            </div>
            <div class="boutonRechercherEntreprise">
              <a routerLink="/fnprst" class="bouton">Rechercher une entreprise pour cette prestation</a>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
  <div>
    Envie d'un nouveau projet ? Créer votre projet pour trouver LE professionnel de vos rêves !
  </div>
  <div class="container">
    <a routerLink="/newprjct" class="bouton">NOUVEAU PROJET</a>
  </div>
</div>
<ng-template #pasdeProjet>
  <div>
    Pas encore de projet.Créer votre projet pour trouver LE professionnel de vos rêves !
  </div>
  <div class="divbouton">
    <a routerLink="/newprjct" class="bouton">NOUVEAU PROJET</a>
  </div>
</ng-template>
