<form class="" action="index.html" method="post">
  <div class="contact">
    <h1>Mon nouveau projet</h1>
    <div class="container">
      <label for="name">NOM<span class="red">*</span> <span class="green"> :</span></label>
      <input type="text" name="name" class="greenInput" placeholder="Dupont, Morris, ...">
    </div>
    <div class="container">
      <label for="surname">PRÉNOM<span class="red">*</span><span class="green"> :</span></label>
      <input type="text" name="surname" class="greenInput" placeholder="Églantine, Jamie, ...">
    </div>
    <div class="container">
      <label for="email">E-MAIL<span class="red">*</span> <span class="green"> :</span></label>
      <input type="email" name="email"class="greenInput" placeholder="eglantine.dupont@mail.fr, ...">
    </div>
    <div class="container">
      <label for="phone">TÉLÉPHONE<span class="red">*</span> <span class="green"> :</span></label>
      <input type="tel" name="phone" class="greenInput">
    </div>
  </div>
  <div class="needs">
    <h1>De quoi j'ai besoin ?<span class="red">*</span></h1>
    <div class="grosOeuvre">
      <h5>Gros Œuvre</h5>
      <div class="checkboxes">
        <div class="column">
          <input type="checkbox" id="fondts" name="fondts">
          <label for="fondts">fondations</label>
          <input type="checkbox" id="soubssmt" name="soubssmt">
          <label for="soubssmt">le soubassement</label>
          <input type="checkbox" id="assnssmt" name="assnssmt">
          <label for="assnssmt">l'assainissement</label>
        </div>
        <div class="column">
          <input type="checkbox" id="charp" name="charp">
          <label for="charp">charpente & menuiserie</label>
          <input type="checkbox" id="murs" name="murs">
          <label for="murs">murs</label>
          <input type="checkbox" id="toitrs" name="toitrs">
          <label for="toitrs">toitures</label>
        </div>
      </div>
    </div>
    <div class="secondOeuvre">
      <h5>Second Œuvre</h5>
      <div class="checkboxes">
        <div class="column">
          <input type="checkbox" id="escals" name="escals">
          <label for="escals">escaliers</label>
          <input type="checkbox" id="isoTherm" name="isoTherm">
          <label for="isoTherm">isolation thermique</label>
          <input type="checkbox" id="cloisns" name="cloisns">
          <label for="cloisns">cloisons & mezzanine</label>
        </div>
        <div class="column">
          <input type="checkbox" id="plomb" name="plomb">
          <label for="plomb">plomberie & climatisation</label>
          <input type="checkbox" id="fumstr" name="fumstr">
          <label for="fumstr">charpentes & fumisterie</label>
          <input type="checkbox" id="cuisn" name="cuisn">
          <label for="cuisn">cuisine, salle de bain, sanitaire</label>
        </div>
      </div>
    </div>
    <div class="amelioration">
      <h5>Amélioration</h5>
      <div class="checkboxes">
        <div class="column">
          <input type="checkbox" id="nrjs" name="nrjs">
          <label for="nrjs">énergies</label>
          <input type="checkbox" id="amngmt" name="amngmt">
          <label for="amngmt">aménagement</label>
          <input type="checkbox" id="combles" name="combles">
          <label for="combles">combles</label>
        </div>
        <div class="column">
          <input type="checkbox" id="toitr" name="toitr">
          <label for="toitr">toiture</label>
          <input type="checkbox" id="facds" name="facds">
          <label for="facds">ravalement de façades</label>
          <input type="checkbox" id="esthtq" name="esthtq">
          <label for="esthtq">travaux esthétiques</label>
        </div>
      </div>
    </div>
  </div>
  <div class="details">
    <input type="date" name="" value="">
  </div>
</form>
