<body>


  <div class="container">
    <img class="imgBricool01" src="../../assets/images/bricolage01.jpg" alt="Bricool Photo">
    <div class="text">
      <h2>TROUVEZ LE PRO QU'IL VOUS FAUT</h2>
      <h2>ET RÉALISEZ VOS PROJETS !</h2>
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="type" name="type" [(ngModel)]="texteRecherchePro">
      <button (click)="onTrouverPro()">Trouver un pro !</button>

      <div *ngFor="let pro of listePro">
        <div>
          Nom pro : {{pro.Prestations[0].type}}
        </div>
        <div>
          Description pro : {{pro.Prestations[0].description}}
        </div>
      </div>
    </div>
  </div>

  <div class="containerArtisans">

    <div class="boxBricool">
      <h1>Les artisans à votre écoute !</h1>
    </div>


    <div class="artisansBox">

      <h6>1. CRÉEZ UN NOUVEAU PROJET</h6>

      <span>Aenean volutpat ultrices ligula. In
        tincidunt. Aenean viverra suscipit tellus.
      </span>

      <span>Suspendisse sem lorem, ornare non,
        vestibulum ut, tempor porttitor, est.
        Quisque convallis aliquet eros. Nunc nec
        nulla eget urna convallis eleifend. Nulla
        feugiat eros at augue. Integer feugiat nisi
        vitae velit. Cras cursus ipsum vel dolor.
        Sed pulvinar. Etiam velit orci, pellentesque
        at, porttitor blandit, luctus eu, justo.
        Donec in odio sed nisl venenatis feugiat.
        Phasellus sodales, pede dapibus rhoncus
        dignissim, justo turpis ornare felis, in
        imperdiet pede metus quis tellus. Proin</span>

    </div>

    <div class="artisansBox">

      <h6>2. CHOISISSEZ VOS ARTISANS</h6>

      <span>Aenean volutpat ultrices ligula. In
        tincidunt. Aenean viverra suscipit tellus.
      </span>

      <span>Suspendisse sem lorem, ornare non,
        vestibulum ut, tempor porttitor, est.
        Quisque convallis aliquet eros. Nunc nec
        nulla eget urna convallis eleifend. Nulla
        feugiat eros at augue. Integer feugiat nisi
        vitae velit. Cras cursus ipsum vel dolor.
        Sed pulvinar. Etiam velit orci, pellentesque
        at, porttitor blandit, luctus eu, justo.
        Donec in odio sed nisl venenatis feugiat.
        Phasellus sodales, pede dapibus rhoncus
        dignissim, justo turpis ornare felis, in
        imperdiet pede metus quis tellus. Proin</span>

    </div>

    <div class="artisansBox">

      <h6>3. PROFITEZ DE LA VIE</h6>

      <span>Aenean volutpat ultrices ligula. In
        tincidunt. Aenean viverra suscipit tellus.
      </span>

      <span>Suspendisse sem lorem, ornare non,
        vestibulum ut, tempor porttitor, est.
        Quisque convallis aliquet eros. Nunc nec
        nulla eget urna convallis eleifend. Nulla
        feugiat eros at augue. Integer feugiat nisi
        vitae velit. Cras cursus ipsum vel dolor.
        Sed pulvinar. Etiam velit orci, pellentesque
        at, porttitor blandit, luctus eu, justo.
        Donec in odio sed nisl venenatis feugiat.
        Phasellus sodales, pede dapibus rhoncus
        dignissim, justo turpis ornare felis, in
        imperdiet pede metus quis tellus. Proin</span>


    </div>

  </div>

  <div class="avisClientFond">

    <h2>C'est vous qui en parlez le mieux</h2>

    <div class="avisClient">

      <div class="picture">
        <img src="../../assets/images/photoProfil.png" alt="Photo Profil">
      </div>
      <h6>Ma nouvelle salle de bain
      </h6>
      <span>Duis vulputate cursus orci. Mauris
        justo lorem, scelerisque sit amet,
        placerat sed, condimentum in, leo.
        Donec urna est, semper quis,
        auctor eget, ultrices in, purus.</span>
      <div class="bouton">
        <button class="artisanBouton">contacter cet artisan
        </button>

      </div>

    </div>

    <div class="avisClient">

      <div class="picture">
        <img src="../../assets/images/photoProfil.png" alt="Photo Profil">
      </div>
      <h6>Ma nouvelle salle de bain
      </h6>
      <span>Duis vulputate cursus orci. Mauris
        justo lorem, scelerisque sit amet,
        placerat sed, condimentum in, leo.
        Donec urna est, semper quis,
        auctor eget, ultrices in, purus.</span>
      <div class="bouton">
        <button class="artisanBouton">contacter cet artisan
        </button>

      </div>

    </div>

    <div class="avisClient">

      <div class="picture">
        <img src="../../assets/images/photoProfil.png" alt="Photo Profil">
      </div>
      <h6>Ma nouvelle salle de bain
      </h6>
      <span>Duis vulputate cursus orci. Mauris
        justo lorem, scelerisque sit amet,
        placerat sed, condimentum in, leo.
        Donec urna est, semper quis,
        auctor eget, ultrices in, purus.</span>
      <div class="bouton">
        <button class="artisanBouton">contacter cet artisan
        </button>

      </div>

    </div>

    <div class="avisClient">

      <div class="picture">
        <img src="../../assets/images/photoProfil.png" alt="Photo Profil">
      </div>
      <h6>Ma nouvelle salle de bain
      </h6>
      <span>Duis vulputate cursus orci. Mauris
        justo lorem, scelerisque sit amet,
        placerat sed, condimentum in, leo.
        Donec urna est, semper quis,
        auctor eget, ultrices in, purus.</span>
      <div class="bouton">
        <button class="artisanBouton">contacter cet artisan
        </button>

      </div>

    </div>

  </div>

  <div class="containerStat">
    <div class="statBricool">

      <h3>54 000</h3>

      <span>Artisans</span>

    </div>

    <div class="statBricool">

      <h3>147 458</h3>

      <span>Projets réalisés</span>

    </div>

    <div class="statBricool">

      <h3>57 000</h3>

      <span>Avis positifs</span>

    </div>
  </div>

  <div class="containerBouton">
    <div class="lancerProjet">

      <button class="boutonProjet">
        LANCEZ VOTRE PROJET !
      </button>

    </div>
  </div>
</body>
