<div class="evaluationContainer">
  <div>
    <h2>Mes dernières évaluations</h2>
    <div class="mesAvis" *ngFor="let evaluation of evaluations">
      <p><span>Note globale </span>: {{evaluation.noteGlobale}}/5</p>
      <p><span>Commentaire global</span> : {{evaluation.commentaireGlobal}}</p>
      <p><span>La prestation </span>:{{evaluation.prestation}}</p>
    </div>


      <div class="mesAvis" *ngFor="let evaluationFaite of evaluationsFaites">
        <p><span>Note globale</span> : {{evaluationFaite.noteGlobale}}/5</p>
        <p><span>Commentaire global</span> : {{evaluationFaite.commentaireGlobal}}</p>
        <p><span>La prestation</span> :{{evaluationFaite.prestation}}</p>
      </div>
    </div>


  </div>






