
h2 {
  width : 100%;
  background-color : #7BC248;
  color:white;
  text-transform: uppercase;
  padding : 5px;
  padding-left : 25px;
}

.mesAvis p{
  display: inline-block;
  margin : 0 5px;
}

.mesAvis span {
  font-weight: 700;
}

.mesAvis {
  border: 3px solid #7BC248;
  border-radius: 50px;;
  margin:10px;
  padding: 15px;
  box-shadow: 2px 2px 5px grey;
}

.mesAvis a {
  text-align: right;
  margin-left : 150px;
}
