<footer>

    <div class="containerFooter">
        <div class="separateur">
            <div class="footerBricool">


                <span>Besoin d'aide ?</span>

                <span>Qui sommes-nous ?</span>

                <span>Presse & Média</span>

                <span>Nous rejoindre</span>

                <span>Nos partenaires</span>

                <span>Charte Qualités</span>


            </div>

            <div class="footerBricool">


                <div class="footer2nd">
                    <span>Condition Générale de Vente</span>

                    <span>Politique de Confidentialité</span>

                </div>

            </div>

            <div class="rsBricool">

                <div class="footer3nd">
                    <span>Professionnel ?</span>

                    <div class="containerBouton">
                        <button class="inscriptionBouton">Inscrivez vous !
                        </button>
                    </div>
                </div>

                <div class="resBricool">
                    <div class="facebook"><img src="../../assets/images/facebook.png" alt="Facebook"></div>
                    <div class="instagram"><img src="../../assets/images/insta.png" alt="Instagram"></div>
                    <div class="twitter"><img src="../../assets/images/twitter.png" alt="Twitter"></div>
                </div>
            </div>
        </div>

        <div class="spanFin">
            <span>
                Vestibulum vel tellus. Sed vulputate. Morbi massa nunc, convallis a, commodo gravida, tincidunt sed,
                turpis.
                Aenean ornare viverra
                est. Maecenas lorem. Aenean euismod iaculis dui. Cum sociis natoque penatibus et magnis dis parturient
                montes,
                nascetur ridiculus
                mus. Nulla quam. Aenean fermentum, turpis sed volutpat dignissim, diam risus facilisis nibh, sit amet
                iaculis
                est turpis non tellus. Nunc a
                mauris. Proin eget ligula. Nam cursus libero.
            </span>
            <span>
                Vestibulum velit orci, bibendum eget, molestie eu, sagittis non, leo. Nullam sed enim. Duis ac lorem.
                Lorem
                ipsum dolor sit amet,
                consectetuer adipiscing elit. Suspendisse potenti. Sed tincidunt varius arcu. Mauris vitae arcu sit amet
                quam
                condimentum pulvinar.
                Aenean arcu elit, accumsan id, consequat ornare, lobortis vitae, ligula. Quisque vitae velit ac sapien
                placerat suscipit. Donec mollis
                justo sed justo pellentesque sollicitudin. Duis bibendum adipiscing nibh. Maecenas diam risus, molestie
                ut,
                porta et, malesuada eget,
                nisi. In fermentum leo sed turpis. Sed lacus velit, consequat in, ultricies sit amet, malesuada et,
                diam.
                Integer mauris sem, convallis ut,
                consequat in, sollicitudin sed, leo. Cras purus elit, hendrerit ut, egestas eget, sagittis at, nulla.
                Integer
                justo dui, faucibus dictum,
            </span>
        </div>
    </div>
</footer>
<div class="end">
    <span>Fait par la @wonderTeam</span>
</div>