@font-face {
    font-family: "caviar_dreams";
    src: url(../../../assets/font/caviar_dreams/CaviarDreams.ttf) format("opentype");
}

* {
    font-family: "caviar_dreams", 'arial', sans-serif;
}

footer {
    background-color: #e8e8e8;
    padding: 3%;
}

.footerBricool {
    font-weight: bold;
    padding: 2%;
    padding-left: 5%;
    font-size: 20px;
    width: 350px;
    margin: 20px;
    display: inline-block;
}

.footerBricool span {
    display: block;
    padding-bottom: 2%;
    padding-left: 1%;
    font-weight: bolder;
}

.footer2nd {
    width: 350px;
    padding-left: 10%;
    
}

.rsBricool {
    display: inline-block;
    padding-left: 15%;
    width: 300px;
    margin: 20px;
}

.footer3nd {
    width: 350px;
    background-color: #7BC248;
    padding: 5%;
}

.containerBouton {
    display: flex;
    justify-content: center;
    padding-bottom: 6%;
}

.footer3nd span {
    color: white;
    font-size: 20px;
}

.inscriptionBouton {
    border: none;
    background-color: #DBBD45;
    color: white;
    font-weight: bold;
}

.containerBouton .inscriptionBouton {
    display: flex;
    justify-content: center;
    padding: 2%;
    padding-left: 20%;
    padding-right: 20%;
}

.resBricool {
    display: flex;
    justify-content: center;
    justify-content: unset;
}

.facebook {
    padding-top: 15%;
    padding-left: 20%;
}

.instagram {
    padding-top: 15%;
    padding-left: 30%;
}

.twitter {
    padding-top: 20%;
    padding-left: 30%;
}

.resBricool img {
    display: flex;
    justify-content: center;
    margin: 15%;
    padding-left: 25%;
}

.separateur {

    box-shadow: 0px 3px 1px -1px rgba(123, 194, 72, 0.8);
    
}

.spanFin{

    padding-top: 2%;
}

.spanFin span{

    display: block;
    padding-bottom: 1%;
}

.end{

    background-color: #7BC248;
    color: white;
    text-align: center;
    padding: 15px;

}