<div *ngIf="devisEncours" >
  <form [formGroup]="devisForm" (ngSubmit)="envoyerEtMettreAJourDevis()">
    <div class="devisInputFormulaire">
      Modification du devis
      <!-- <div class="form-floating"> -->
        <label>Durée de la prestation en jours :
          <input type="number" id="tempsPrestationJours" step="10"
           formControlName="tempsPrestationJours" max="100">
        </label>
      <!-- </div> -->
      <label>Prix du materiel :
        <input type="number" formControlName="prixMateriel" size="3"> €
      </label>
      <label>Prix Prestation :
        <input type="number" formControlName="prixPrestation" size="4"> €
      </label>
    </div>
    <button type="submit" [disabled]="!devisForm.valid">Envoyer le devis</button>
  </form>
</div>
<!-- // (ngSubmit)="modifierDevis()" *ngIf="user">  class="devisFormulaire"-->
