.imgBricool01 {
    height: 650px;
    width: 1495px;
    /* min-width: 100%;
    min-height: 100%;
    height: 700px; */
}

.imgA h2, .imgB h2 {
  font-weight: bold;
}

.imgA {
    margin-right: 20%;
    margin-left: 5%;
    padding: 1% 10% 1% 5%;
    background-color: #7BC248;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
}

.imgB {
    margin-right: 22%;
    margin-left: 20%;
    padding: 1% 5% 1% 10%;
    background-color: #DBBD45;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 100px;
}

.inputPro {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.inputPro input {
  outline: none;
  width: 50%;
  border: 4px solid #7BC248;
  border-radius: 15px;
  padding-left: 10px;
  z-index: 10;
}

.inputPro button {
  position: relative;
  left: -15px;
  border: 4px solid #7BC248;
  border-radius: 0 15px 15px 0;
  padding: 0 30px 0 41px;
  background-color: #7BC248;
  font-weight: bold;
  font-size: 16pt;
  color: #FFFFFF;
}

.searchResults {
  position: relative;
  top: -4px;
  left: -7px;
  width: calc(25% + 176px);
  border: 4px solid #7BC248;
  border-radius: 15px;
  padding: 5px 5px 0 5px;
  background-color: #FFFFFF;
}

.searchResults p {
  margin-bottom: 5px;
  border-radius: 5px;
  padding-left: 5px;
}

.result:hover {
  background-color: #DBBD45;
  cursor: pointer;
}

.text {
  width: 100vw;
  height: 52vw;
  padding-top: calc(26vw - 105px);
  background-image: url("../../../assets/images/bricolage01.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h2 {
  color: #FFFFFF;
}

.boxBricool {
    margin: 5%;
    padding-left: 3%;
}

h1 {
    color: #7BC248
}

h6 {
    font-weight: bold;
    padding-bottom: 3%;
}

.containerArtisans {
    padding-bottom: 5%;
}

.artisansBox {
    width: 450px;
    display: inline-block;
    background-color: white;
    padding-left: 8%;
    overflow: hidden;
}

.avisClientFond {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 13%;
    background-color: #7BC248;
}

.picture {
    text-align: center;
    padding-bottom: 2%;
}

.avisClient h6 {
    text-align: center;
}

.artisansBox span {
    display: block;
    padding-bottom: 5%;
}

.avisClientFond h2 {
    padding-bottom: 3%;
    color: white;
    font-weight: bold;
}

.avisClient {
    width: 250px;
    margin: 20px;
    display: inline-block;
    background-color: white;
    padding-bottom: 15px;
    border: 0px black solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.avisClient span {
    display: block;
    padding: 8%;
}

.bouton {
    display: flex;
    justify-content: center;
}

.artisanBouton {
    background-color: #DBBD45;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.containerStat {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 11%;
}

.statBricool {
    width: 300px;
    margin: 40px;
    display: inline-block;
    padding-left: 5%;
    padding-bottom: 15px;
    border: 0px black solid;
    overflow: hidden;
    color: #7BC248;
    font-size: 30px;
}

.statBricool span {
    padding: 5%;
}

.statBricool h3 {
    padding: 8%;
    font-size: 40px;
    font-weight: bold;
}

.containerBouton {
    display: flex;
    justify-content: center;
    padding-bottom: 6%;
}

.lancerProjet {
    background-color: #DBBD45;
    border-radius: 80px;
    color: white;
    font-weight: bold;
    padding: 2%;
    font-size: 34px;
}

.boutonProjet {
    border: none;
    background-color: #DBBD45;
    color: white;
    font-weight: bold;
}
